//VARIABLES
$color-principal: #004a57;
$color-secundario: #5da3be;
$tamaño-fuente-h1: 45px;
$tamaño-fuente-h2: 30px;
$tamaño-fuente-p: 20px;
$mt: 25px;
$mb: 25px;
$ml: 15px;
$mr: 15px;
$m: 0px;
$theme: light;
