.producto {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: space-evenly;
  margin: 100px auto 50px auto;
  width: 80%;
}

.producto img {
  border-radius: 15px;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.descripcion {
  color: white;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: flex-start;
}

.descripcion button {
  background-color: #32a8a0;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: larger;
  height: 50px;
  margin-top: 30px;
  width: 200px;
}

.descripcion button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.descripcion li {
  text-align: justify;
  width: 500px;
}

.descripcion h3 {
  margin-top: -30px;
  font-size: 25px;
}

.titulo-relacionados {
  width: 70%;
  margin: auto;
  text-decoration: overline;
}

.relacionados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px auto;
  width: 80%;
}

.producto-rel {
  align-items: center;
  background-color: #32a8a0;
  border-radius: 15px;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: center;
  margin: 15px auto;
  padding: 15px;
  width: 300px;
}

.producto-rel img {
  padding-top: 20px;
  width: 250px;
}

.producto-rel a {
  color: #fff;
  text-decoration: none;
}

.producto-rel button {
  background-color: #1c5c58;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 15px;
  font-weight: 700;
  padding: 15px 30px;
  margin-top: 15px;
}

.producto-rel button:hover {
  opacity: 0.7;
  cursor: pointer;
}
